<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_final_software.Properties.Settings.BDVentasConnectionString"
            connectionString="Data Source=Localhost;Initial Catalog=BDVentas;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto_final_software.Properties.Settings.BDVentasConnectionString1"
            connectionString="Data Source=Localhost;Initial Catalog=BDVentas;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>